/* 

- 文字色を追加
- 背景色を追加
- 影を追加
- 境界線を追加
- フォントを変更

*/

* {
  font-family: "Noto Sans JP";
  color: rgb(21, 99, 99);
}

body {
  background-color: azure;
}

h1 {
  font-family: "VT323";
  color: rgb(151, 214, 214);
  letter-spacing: 15px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#preview {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #aaa;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

canvas {
  background-color: white;
}

#file-upload-button {
  background-color: white;
}
